
<section>
<div class="grid-block">
<div class="small-12 medium-6 grid-content">
<%= form_for @line_items do |f| %>
  <h4><%= f.label :product.name %></h4>
    <%= f.text_field :product_id %>
    <div class="col-xs-4">
    <%= f.number_field :quantity, order_item.quantity.to_i, class: "form-control", min: 1 %>
    <%= f.hidden_field :product_id, product.id %>
  </div>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
    <% end %>
</div>
</div>
</section>
