<section>
<div class="grid-block">
<div class="small-12 medium-6 grid-content">
  <% @order_items.each do |line| %>
  <p><%= image_tag(line.product.image, size: "200x275", alt: "Photo of #{line.product.name}.") %> </p>
    <p>Product Name: <%= line.product.name %></p>
    <p>Price: <%= line.product.price %></p>
    <p>Quantity: <%= line.qty %></p>
    <p>Product description: <%= line.product.description %></p>
  </div>
<% end %>
</div>
</div>
</section>
