<h1>Become a merchant.</h1>

<%= form_for @merchant, url: @path do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.text_field :password %>

<% end %>
