<h1>Procrastination Product Categories</h1>

<% @category.each do |category| %>
  <h5><%= link_to(category.name, category_path(category.id)) %></h5></br>
<% end %>

<% if current_merchant != nil %>

  <h3><%= 'Add a New Category' %></h3>
  <%= form_for @new_category, url: categories_path do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

  <%= f.submit %>

  <% end %>
<% end %>
