
<h1><%= @product.name %></h1>
<p><%= image_tag(@product.image, size: "200x275", alt: "Photo of #{@product.name}.") %> </p>
<p> Description: <%= @product.description %></p>
<p>Price: $<%= '%.2f' % (@product.price/100) %></p>
<p>  Inventory: <%= @product.inventory %></p>
<p>  Rating: <%= @product.rating == nil ? "Not Yet Rated!" : star_string(@product.rating) %></p>

<% if @product.merchant == current_merchant %>
  <p> <%= button_to "Edit Product", {controller: 'products', action: 'edit'}, path: 'edit_merchant_product', method: :get%></p>
  <p> <%= button_to "Delete Product", {controller: 'products', action: 'destroy'}, path: 'merchant_product', method: :delete, data: {confirm: "Are you sure?"}%></p>
<% end %>





<div class="row">
  <div class="col-xs-8">
    <h4><%= @product.name %></small></h4>

  </div>
  <div class="col-xs-4">

    <%= form_tag(controller: "orders", action: "add_to_cart", method: "post")  do |f| %>
    <h5>Price:<%= @product.price %></h5>
      <div class="input-group">
        <%= number_field_tag :qty, 1, class: "form-control", min: 1 %>
        <div class="input-group-btn">
          <%= hidden_field_tag :product_id, @product.id %>
          <%= hidden_field_tag :merchant_id, @product.merchant_id %>
          <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

  </div>

</div>



<% if @reviews != nil %>
  <% @reviews.each do |review| %>
    <article>
      <p><%= star_string(review.stars) %></p>
      <p><%= review.description %></p>
      <p> <%= "By: #{review.author}" if review.author != ''  %></p>
      <p> <%= button_to "Delete Review", {controller: 'reviews', action: 'destroy', product_id: @product.id, id: review.id}, method: :delete, data: {confirm: "Are you sure?"}%></p>
    </article>
  <% end %>
<% end %>

<p>  <%= link_to 'See All Product Reviews!', merchant_product_reviews_path(@merchant.id, @product.id) %> </p>
<p>  <%= link_to 'Add A Review!', new_merchant_product_review_path(@merchant.id, @product.id) %> </p> <%# Don't allow a merchant to add their own product review  %>

<p>
  <%= link_to 'See All Products', all_products_path %>
</p>


<%# Add editing stuff buttons if the merchant is logged in  %>
