<h1> All Reviews for <%= @product.name %></h1>
<h4> Average: <%= star_string(@product.rating) %></h4>

<% @reviews.each do |review|  %>
  <article>
    <p><%=  star_string(review.stars) %></p>
    <p><%= review.description %></p>
    <p>  By: <%= review.author %></p>
  </article>
<% end %>
