<h1> All Reviews for <%= @product.name %></h1>
<h4> Average: <%= star_string(@product.rating) %></h4>

<% @reviews.each do |review|  %>
  <article>
    <p><%=  star_string(review.stars) %></p>
    <p><%= review.description %></p>
    <p> <%= "By: #{review.author}" if review.author != '' %></p>
    <p> <%= button_to "Delete Review", {controller: 'reviews', action: 'destroy', product_id: @product.id, id: review.id}, method: :delete, data: {confirm: "Are you sure?"}%></p>
  </article>
<% end %>
